<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{menutemplate::header('index')}" >
</head>
<body>

  <nav th:insert="~{menutemplate::navbar}" />

  <div id="container">
  <table>
    <thead>
      <td>Name</td>
      <td>Price</td>
    </thead>
    <tbody>
      <tr th:each="drink : ${drinks}">
        <td> <span th:text="${drink.name}"/>
          <br>
          <ul>
            <li th:each="note : ${drink.tastingNotes}">
              <span th:text="${note.description}"></span>
            </li>
          </ul>
        </td>
        <td> <span th:text="${drink.price}"/> </td>
      </tr>
    </tbody>
  </table>
  </div>
</body>
</html>